In [1]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
import matplotlib.pyplot as plt
from sklearn import metrics
import pandas as pd
import numpy as np

In [3]:
# Read the data
data = pd.read_csv("D:\Personal_Stuff\MS_stuff\Spring_courses\Cloud Computing\Midterm project\Webapp\CustomerChurn.csv") # Change path to file location in your computer
data.head()

   TOTAL_SPEND  MARITAL  HH_SIZE  INCOME_RANGE  LOYALTY_FLAG
0           89        1        0             2             1
1           94        0        2             3             1
2           79        0        1             5             1
3          292        0        4             2             1
4          150        0        2             4             1

In [4]:
# Data cleaning
'''
data.INCOME_RANGE = pd.Categorical(data.INCOME_RANGE)
data.HH_SIZE = pd.Categorical(data.HH_SIZE)
data.MARITAL = pd.Categorical(data.MARITAL)
data.LOYALTY_FLAG = pd.Categorical(data.LOYALTY_FLAG)
data['INCOME_RANGE'] = data.INCOME_RANGE.cat.codes
data['HH_SIZE'] = data.HH_SIZE.cat.codes
data['MARITAL'] = data.MARITAL.cat.codes
data['LOYALTY_FLAG'] = data.LOYALTY_FLAG.cat.codes
data['TOTAL_SPEND'] = data.TOTAL_SPEND.astype('int')
'''

"\ndata.INCOME_RANGE = pd.Categorical(data.INCOME_RANGE)\ndata.HH_SIZE = pd.Categorical(data.HH_SIZE)\ndata.MARITAL = pd.Categorical(data.MARITAL)\ndata.LOYALTY_FLAG = pd.Categorical(data.LOYALTY_FLAG)\ndata['INCOME_RANGE'] = data.INCOME_RANGE.cat.codes\ndata['HH_SIZE'] = data.HH_SIZE.cat.codes\ndata['MARITAL'] = data.MARITAL.cat.codes\ndata['LOYALTY_FLAG'] = data.LOYALTY_FLAG.cat.codes\ndata['TOTAL_SPEND'] = data.TOTAL_SPEND.astype('int')\n"

In [5]:
#data.to_csv(r'D:\Personal_Stuff\MS_stuff\Spring_courses\Cloud Computing\Midterm project\Webapp\CustomerChurn.csv', index = False)

In [6]:
# seperating features and label
X = data.iloc[:, 1:-1]
y = data.iloc[:, -1]

In [7]:
# Check for each class count
print(y.value_counts())

1    197
0     71
Name: LOYALTY_FLAG, dtype: int64

In [8]:
#Scaling data to normalize it
sx = preprocessing.MinMaxScaler()
sy = preprocessing.MinMaxScaler()
scaled_X = sx.fit_transform(X)
scaled_y = sy.fit_transform(y.to_numpy().reshape(-1, 1))

In [21]:
#split data into training and test
X_train, X_test, y_train, y_test = train_test_split(scaled_X, scaled_y, test_size = 0.2, random_state=42)

In [22]:
# Define the model
model = LogisticRegression(max_iter = 1000)

# Train the model
model.fit(X_train, y_train.ravel())

LogisticRegression(max_iter=1000)

In [23]:
# Test the model
predictions = model.predict(X_test)

In [24]:
# Check accuracy score
score = model.score(X_test, y_test)
print(score)

0.7407407407407407